body {
  > .wrapper {
    > .browse {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 55px 0;
      > .top {
        text-align: center;
        margin-bottom: 40px;
        > .browseRange {
          font-family: publicaSans;
          font-weight: bold;
          font-size: 32px;
        }
        > .browseBody {
          color: var(--text-color5);
          font-family: urbanistRegular;
          font-size: 20px;
        }
      }
      > .bottom {
        display: flex;
        column-gap: 20px;
        > .room {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 30px;
          > .imgRoom {
            display: inline-block;
            width: 280px;
            > .imageroom {
              width: inherit;
            }
            &:hover::before {
              content: "See more";
              width: inherit;
              height: 353px;
              background-color: rgba(152, 152, 152, 0.542);
              position: absolute;
              border-radius: 10px;
              backdrop-filter: blur(5px);
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: publicaSans;
              font-size: 30px;
              color: white;
            }
          }
          > .roomName {
            color: var(--text-color6);
            font-size: 24px;
            font-family: urbanistBold;
            font-weight: bold;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
