body {
  > .wrapper {
    >.warranty{
        width: 100%;
        height: 270px;
        background-color: var(--background-color8);
        display: flex;
        justify-content: center;
        >.benefits{
            width: inherit;
            max-width: 1800px;
            height: inherit;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            >.benefit{
                display: flex;
                column-gap: 15px;
                >.icon{
                    display: flex;
                }
                >.aboutBenefit{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-transform: capitalize;
                    font-family: publicaSans;
                    >.titleBenefit{
                        font-size: 25px;
                    }
                    >.bodyBenefit{
                        color: var(--text-color6);
                    }
                }
            }
        }
    }
  }
}
